@font-face {
	font-weight: 400;
	font-family: 'Lato-Black';
	font-style: normal;
	font-display: swap;
	src: url("assets/fonts/Lato-Black.ttf") format("truetype");
}

@font-face {
	font-weight: 400;
	font-family: 'Lato-Light';
	font-style: normal;
	font-display: swap;
    src: url("assets/fonts/Lato-Light.ttf") format("truetype");
}

@font-face {
	font-weight: 400;
	font-family: 'Lato-Regular';
	font-style: normal;
	font-display: swap;
	src: url("assets/fonts/Lato-Bold.ttf") format("truetype");
}


.form {
width: 1020px;
margin: 0 auto;
background-color: #f06c64;
}

.quote {
    color:#f0d8d9;
    font-size: 30px;
    font-family: 'Lato-Black', 'Arial', sans-serif;
    padding: 38px 40px 30px;
    margin: 0;
}

.quote-description {
    color:#f0d8d9;
    font-size: 18px;
    line-height: 30px;
    font-family: 'Lato-Light', 'Arial', sans-serif;
    padding: 0 40px 51px;
    margin: 0;
}

.form-main input,
.form-main input::-webkit-input-placeholder,
.form-main textarea,
.form-main textarea::-webkit-input-placeholder {
background-color: #d6564f;
margin-bottom: 20px;
border: none;
border-radius: 3px;
padding: 15px 10px;
color: #f48c8f;
font-size: 12px;
font-family: 'Lato-Regular', 'Arial', sans-serif; 
}

.form-wrapper {
    display: flex;
    justify-content: space-between;
}

.form-main {
    display: flex;
    flex-direction: column;
    width: 620px;
}

.form-wrapper {
    padding: 0 40px 55px 40px;
    
}

.contact-information {
    width: 300px;
}

.contact {
    font-size: 18px;
    font-family: 'Lato-Black', 'Arial', sans-serif;
    color: #f0d8d9;
    margin: 0;

}

.quisque {
    font-size: 12px;
    font-family: 'Lato-Regular', 'Arial', sans-serif; 
    color: #f0d8d9;
    line-height: 21.56px;
    margin: 20px 0 30px;
}

.info {
    padding-left: 22px;
    position: relative;   
}

.street {
    font-size: 12px;
    font-family: 'Lato-Regular', 'Arial', sans-serif; 
    color: #f0d8d9;
}

.number {
    font-size: 12px;
    font-family: 'Lato-Regular', 'Arial', sans-serif; 
    color: #f0d8d9;
}

.email {
    font-size: 12px;
    font-family: 'Lato-Regular', 'Arial', sans-serif; 
    color: #f0d8d9;
}

.info::before {
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 15px;
	height: 15px;
	background-repeat: no-repeat;
    background-position: center;
}

.street::before {
	background-image: url('assets/images/locationFooter.png');
}
.number::before {
	background-image: url('assets/images/phoneFooter.png');
}
.email::before {
	background-image: url('assets/images/mailFooter.png');
}

.footer-end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    width: 1020px;
    box-sizing: border-box;
    background-color: #2d303a;
    margin: 0 auto;
}

.copyright {
    margin: 0;
    padding: 0;
    color: #575d74;
    font-size: 12px;
    font-family: 'Lato-Regular', 'Arial', sans-serif; 
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden,
input[type="range"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.about-us-link {
    padding-left: 40px;
    position: relative;
}

.about-us-link::before {
	content:'';
	position: absolute;
	top: -10px;
	left: 0;
	width: 33px;
	height: 33px;
	background-repeat: no-repeat;
    background-position: center;
}

.about-us-facebook::before {
	background-image: url('assets/images/Facebook.png');
}

.about-us-facebook:hover::before {
	background-image: url('assets/images/FacebookActive.png');
}

.about-us-google::before {
	background-image: url('assets/images/Google.png');
}

.about-us-google:hover::before {
	background-image: url('assets/images/GoogleActive.png');
}

.about-us-twitter::before {
	background-image: url('assets/images/Twitter.png');
}

.about-us-twitter:hover::before {
	background-image: url('assets/images/TwitterActive.png');
}

.about-us-linkedln::before {
	background-image: url('assets/images/LinkedIn.png');
}

.about-us-linkedln:hover::before {
	background-image: url('assets/images/LinkedInActive.png');
}