
@font-face {
	font-weight: 400;
	font-family: 'Lato-Black';
	font-style: normal;
	font-display: swap;
	src: url("assets/fonts/Lato-Black.ttf") format("truetype");
}

@font-face {
	font-weight: 400;
	font-family: 'Lato-Light';
	font-style: normal;
	font-display: swap;
    src: url("assets/fonts/Lato-Light.ttf") format("truetype");
}

@font-face {
	font-weight: 400;
	font-family: 'Lato-Regular';
	font-style: normal;
	font-display: swap;
	src: url("assets/fonts/Lato-Bold.ttf") format("truetype");
}

main {
width: 1020px;
margin: 0 auto;
}

.portfolio {
    padding: 65px 30px 74px 30px;
    margin: 0;
    background-color: #2d303a;
}
.portfolio-header {
    color:#666d89;
    font-size: 30px;
    font-family: 'Lato-Black', 'Arial', sans-serif;
    padding: 0 10px 30px;
    margin: 0;
}

.portfolio-list-button {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    width: 290px;
    margin: 0;
    padding: 10px;
    
}

.portfolio-item-button button {
    color: #767e9e;
    font-size: 12px;
    font-family: 'Lato-Regular', 'Arial', sans-serif;  
    background: transparent;
    border: 1px solid #767e9e;
    border-radius: 5px;
    }

.portfolio-item-button button:hover,
.portfolio-item-button button:focus,
.portfolio-item-button .button-active {
    color: #f2f2f2;
    border: 1px solid #f2f2f2;
    outline: none;
}

.portfolio-description {
    color:#767e9e;
    font-size: 18px;
    font-family: 'Lato-Ligh', 'Arial', sans-serif;
    padding: 0 10px 15px;
    margin: 0;
}

.portfolio-images-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.portfollio-full {
    padding: 10px;
    margin: 0;
}

.about-us {
    background-color: #f2f2f2;
    margin: 0;
    padding: 65px 40px 70px;
    
}

 .about-us-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
 }

 .about-us-item {
    padding-right: 20px;      
 }

 .about-us-header {
    color:#666d89;
    font-size: 30px;
    font-family: 'Lato-Black', 'Arial', sans-serif;
    margin: 0;
    padding-bottom: 35px;
    
 }

 .about-us-description {
    color:#767e9e;
    font-size: 18px;
    font-family: 'Lato-Ligh', 'Arial', sans-serif;
    margin: 0;
    padding-bottom: 44px;
    line-height: 30px;
 }

 .about-us-name {
    color:#666d89;
    font-size: 18px;
    font-family: 'Lato-Black', 'Arial', sans-serif;
    margin: 0;
    padding: 20px 0px;
 }

 .about-us-cv {
    color: #767e9e;
    font-size: 12px;
    font-family: 'Lato-Regular', 'Arial', sans-serif;
    list-style: none;    
    margin: 0;
    padding-bottom: 30px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden,
input[type="range"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.about-us-link {
    padding-left: 40px;
    position: relative;
}

.about-us-link::before {
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 33px;
	height: 33px;
	background-repeat: no-repeat;
    background-position: center;
}

.about-us-facebook::before {
	background-image: url('assets/images/Facebook.png');
}

.about-us-facebook:hover::before {
	background-image: url('assets/images/FacebookActive.png');
}

.about-us-google::before {
	background-image: url('assets/images/Google.png');
}

.about-us-google:hover::before {
	background-image: url('assets/images/GoogleActive.png');
}

.about-us-twitter::before {
	background-image: url('assets/images/Twitter.png');
}

.about-us-twitter:hover::before {
	background-image: url('assets/images/TwitterActive.png');
}

.about-us-linkedln::before {
	background-image: url('assets/images/LinkedIn.png');
}

.about-us-linkedln:hover::before {
	background-image: url('assets/images/LinkedInActive.png');
}