@font-face {
	font-weight: 400;
	font-family: 'Lato-Bold';
	font-style: normal;
	font-display: swap;
	src: url("assets/fonts/Lato-Bold.ttf") format("truetype");
}

@font-face {
	font-weight: 400;
	font-family: 'Lato-Medium';
	font-style: normal;
	font-display: swap;
	src: url("assets/fonts/Lato-Medium.ttf") format("truetype");
}

@font-face {
	font-weight: 400;
	font-family: 'Vegur-Bold';
	font-style: normal;
	font-display: swap;
    src: url("assets/fonts/Vegur-Bold.otf") format("opentype");
}

@font-face {
	font-weight: 400;
	font-family: 'Vegur-Light';
	font-style: normal;
	font-display: swap;
    src: url("assets/fonts/Vegur-Light.otf") format("opentype");
}

@font-face {
	font-weight: 400;
	font-family: 'Vegur-Regular';
	font-style: normal;
	font-display: swap;
    src: url("assets/fonts/Vegur-Regular.otf") format("opentype");
}

body {
    width: 1020px;
    margin: 0 auto; 
    padding: 0;
}

header {
    display: flex;
	justify-content: space-between;
	background-color: #2d303a;
	padding: 0 40px;
	align-items: center;
}

.menu-list {
	display: flex;
	width: 380px;
	justify-content: space-between;
	list-style: none; 
}

.menu-item a {
	color: #f2f2f2;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Lato-Bold', 'Arial', sans-serif;
}

.menu-item--active a {
	color: #f06c64;
}

.logo {
	font-size: 24px;
	color: #f2f2f2;
	text-transform: uppercase;
	font-family: 'Lato-Bold', 'Arial', sans-serif;
}

.logo span {
	color: #f06c64;
}

.slider {
	background-color: #f06c64;
	display: flex;
	justify-content: space-between;
	padding: 55px 40px 90px 40px;
}
.slider-images {
	position: relative;
	width: 100%;
	height: 470px;
}

.slider-left {
	padding: 0px;
	border: none;
	background: transparent;
	font-size: 30px;
}

.slider-right {
	padding: 0px;
	border: none;
	background: transparent;
	font-size: 30px;
}

.slider-image1 {
	position: absolute;
	left: 110px;
	top: 55px;
}

.slider-image1-back {
	position: absolute;
	top: 0;
	left: 0;
}

.slider-image1-main {
	position: absolute;
	top: 62px;
	left: 11px;
}

.slider-image2 {
	position: absolute;
	top: 80px;
	left: 500px;
}

.slider-image2-back {
	transform: rotate(90deg);
	position: absolute;	
	top: 0;
	left: 0;
}

.slider-image2-main {
	position: absolute;
	top: 133px;
	left: -64px;
}
